@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --neutral-black: #003366;
  --neutral-white: #f2f2f2;

  --neutral-black-filter: invert(10%) sepia(93%) saturate(2472%)
    hue-rotate(198deg) brightness(103%) contrast(101%);
  --neutral-white-filter: invert(100%) sepia(64%) saturate(64%)
    hue-rotate(263deg) brightness(112%) contrast(90%);
  --accent-filter: invert(58%) sepia(10%) saturate(1116%) hue-rotate(131deg)
    brightness(96%) contrast(86%);
}

.katas,
.kata,
.action-card {
  background: linear-gradient(135deg, #00336680, #00000000);
  backdrop-filter: blur(8px);
  border: 1px solid #00336630;
  box-shadow: 0 8px 32px 0 #00336680;
}

.popup {
  background: linear-gradient(135 deg, #f2f2f220, #ffffff00);
  backdrop-filter: blur(32px);
  border: 1px solid #f2f2f240;
}

button {
  background: none;
  border: none;
  color: var(--neutral-white);
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  filter: var(--neutral-white-filter);
  width: 16px;
  height: auto;
}

html {
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
}

body {
  position: relative;
  font-family: "Poppins";
  background: linear-gradient(#00000030, #00000030),
    url("../../assets/backgrounds/rainy-sunset-cityscape.jpg") no-repeat
      center/100%;
  background-position-x: 15%;
  background-size: cover;
  color: var(--neutral-white);
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;

  transition: transform ease-in 250ms;
}

.hero {
  text-align: center;
  padding: 32px;
  font-family: "Montserrat";
  font-size: 3rem;
  color: var(--neutral-white);
}

.katas {
  padding: 16px;
  margin-top: 16px;
  border-radius: 16px;
  min-height: 70vh;
  width: min(600px, 85%);
}

.katas-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--neutral-white);
  font-weight: 600;
  margin-bottom: 16px;
}

.kata-plus-btn img {
  width: 24px;
  height: auto;
}

.kata-list-item {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  margin: 12px 0;
  cursor: pointer;
}

.kata-list-item-name {
  font-weight: 500;
}

.circle {
  padding: 4px;
  margin-right: 8px;
  border-radius: 50%;
}

.kata-options-btn {
  margin-right: 4px;
}

.kata-options-list {
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1;
  padding: 8px;
  border-radius: 4px;
  background-color: var(--neutral-black);
  border: 1px solid #f2f2f240;

  display: flex;
  flex-direction: column;
}

.kata-option {
  display: flex;
  padding: 4px 0;
}

.kata-option img {
  margin-right: 8px;
}

.popup-container {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: #00000080;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px 48px;
  border-radius: 16px;
  position: relative;
}

.popup-header {
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
  margin-bottom: 16px;
}

.close-popup-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}

.close-popup-btn img {
  width: 24px;
  height: auto;
}

.field {
  display: grid;
  grid-template-columns: 4rem 1fr;
  margin: 16px 0;
}

.popup-submit-btn {
  background-color: var(--neutral-black);
  padding: 12px;
  margin-top: 16px;
  border-radius: 4px;
  color: var(--neutral-white);
  font-weight: 600;
}

.kata {
  position: absolute;
  left: 100%;
  width: 100vw;
  height: 100vh;
  transition: transform ease-in 250ms;

  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kata-header {
  text-align: center;
  padding: 24px 0 8px 0;
  font-size: 2rem;
  font-family: "Montserrat";
  position: relative;
  width: 100%;
}

.go-back-btn {
  position: absolute;
  top: 26px;
  left: 24px;
  display: flex;
}

.go-back-btn img {
  width: 40px;
  height: auto;
}

.kata-header-gutter {
  width: 90%;
  min-height: 2px;
  margin-bottom: 16px;
}

.completion-meter {
  height: 100%;
}

.kata-content {
  width: min(80%, 600px);
  padding: 16px 0;
}

.action-list {
  height: 80vh;
  overflow-y: scroll;
  padding-right: 8px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  margin-top: 16px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #00336680, #00336640);
  backdrop-filter: blur(8px);
  border-radius: 4px;
}

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: var(--neutral-black) #00000000;
    scrollbar-width: thin;
  }
}

.actions-header {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  border-bottom: 2px solid var(--neutral-black);
  padding: 0 4px;
}

.action-item {
  padding: 8px 0 8px 4px;
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  align-items: center;
}

.action-item .action-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.checkbox {
  margin: 6px;
}

.action-item .expand-button {
  margin-left: 8px;
}

.action-card .checkbox {
  margin-bottom: 10px;
}

.completed .action-title {
  text-decoration: line-through;
}

.action-card {
  padding: 8px;
  margin: 16px 0;
  display: grid;
  grid-template-columns: auto 1fr auto;
  box-shadow: none;
  border-radius: 8px;
}

.action-card .action-title {
  font-weight: 600;
}

.action-status {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img.priority-flag {
  width: 16px;
  height: auto;
}

.flag-low {
  display: none;
}

.flag-medium {
  filter: invert(100%) sepia(96%) saturate(4366%) hue-rotate(357deg)
    brightness(107%) contrast(101%);
}

.flag-high {
  filter: invert(56%) sepia(95%) saturate(984%) hue-rotate(1deg)
    brightness(104%) contrast(105%);
}

.flag-urgent {
  filter: invert(13%) sepia(76%) saturate(6675%) hue-rotate(6deg)
    brightness(124%) contrast(131%);
}

.action-detail {
  font-size: 0.9rem;
  padding-right: 8px;
  display: flex;
  align-items: center;
}

.action-detail label {
  margin-right: 0.5rem;
  font-weight: 500;
}

.action-detail input {
  margin: 8px 0;
}

.action-description {
  margin-bottom: 1rem;
}

.action-actions {
  display: flex;
  flex-direction: column;
}

.action-actions button {
  padding: 4px 0;
}
