@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
}

body {
  position: relative;
  min-height: 100vh;
}

.home {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: lavender;
}

.hidden {
  z-index: -1;
  left: 0;
}

.kata {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: aquamarine;
  transition: transform ease-in 0.2s;
}

.circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.completed .action-title {
  text-decoration: line-through;
}

.popup-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000aa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: #ffffff;
  padding: 32px;
}